.btn {
  background-color: var(--primary);
  font-size: 8px;
  line-height: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 8px 20px;
}

@media (min-width: 425px) {
  .btn {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 30px;
  }
}
