.section {
  padding: 56px 0 64px;
}

/* TEXT */

.text {
  font-size: 20px;
  line-height: 25px;
  color: #909090;
  margin-bottom: 24px;
}

.bold {
  font-weight: 700;
  color: var(--primary);
}

/* REGISTRATION */

.registration {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.registrationInput {
  background-color: #ededed;
  outline: none;
  border: none;
  font-family: inherit;
  width: 55%;
}

/* PRIVACY POLICY */

.privacyPolicy {
  width: 300px;
}

.privacyPolicyLabel {
  user-select: none;
}

.privacyPolicyInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: 20px;
}

.privacyPolicyInput::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  border: none;
}

.privacyPolicyInput:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  /* border-radius: 50%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  visibility: visible;
}

/* MEDIA */

@media (min-width: 768px) {
  .section {
    padding: 34px 0;
  }

  .text {
    margin-bottom: 14px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
  .section {
    padding: 68px 0;
  }

  .text {
    margin-bottom: 30px;
  }
}
