.header {
  margin: 24px 0;
}

.header_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 170px;
}

@media (min-width: 768px) {
  .header {
    margin: 30px 0;
  }
}

@media (min-width: 1024px) {
  .header_inner {
    justify-content: flex-start;
  }

  .logo {
    width: 140px;
  }
}

@media (min-width: 1440px) {
  .header {
    margin: 40px 0 80px;
  }

  .logo {
    width: 170px;
  }
}
