.sliderItem {
  height: 300px;
  position: relative;
  display: block !important;
}

.sliderImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MEDIA SLIDER */

@media (min-width: 1024px) {
  .slider {
    width: 50%;
  }

  .sliderItem {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
  }
}

/* TOOLTIP */

.tooltip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.tooltipContent {
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 15px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.name,
.brand {
  font-family: 'Prata-Regular';
  color: var(--primary);
  text-align: center;
}

.name {
  font-size: 8px;
  line-height: 11px;
  white-space: nowrap;
}

.brand {
  font-size: 17px;
  line-height: 23px;
  white-space: nowrap;
}

/* PULSE BUTTON */

.pulseButton {
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 40, 85, 0.7);
  border-radius: 50%;
  background-color: rgba(0, 40, 85, 0.9);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);

  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  left: 0;
  top: 0;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

.pulseButton:hover + .tooltipContent {
  opacity: 1;
}

/* MEDIA TOOLTIP */

@media (min-width: 1024px) {
  .pulseButton {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    right: 0;
    bottom: 0;
  }

  .tooltipContent {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    left: 0;
    top: 0;
  }
}

@media (min-width: 1440px) {
  .tooltipContent {
    padding: 8px 24px;
  }

  .name {
    font-size: 14px;
    line-height: 19px;
  }

  .brand {
    font-size: 29px;
    line-height: 39px;
  }
}
