.sliderItem {
  height: 300px;
  display: block;
}

.sliderImage {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover;
  object-position: center top; */
}

@media (min-width: 1024px) {
  .slider {
    width: 50%;
  }

  .sliderItem {
    width: 100%;
    height: 100vh;
  }

  .sliderImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
